/**
 * シウマイ用スタイルシート
 */
 @shaomai-size:       78px;
 @shaomai-green-size: 20px;

 @shaomai-small-size: 68px;

 @shaomai-color:       #F8F4E6;
 @shaomai-green-color: #339933;

.shaomai {
    display: inline-block;
    position: relative;

    width : @shaomai-size;
    height: @shaomai-size;

    @media screen and (max-width: @display-width-iphone5){
        width : @shaomai-small-size;
        height: @shaomai-small-size;
    }

    transform-style: preserve-3d;

    .face {
        position: absolute;

        width : 100%;
        height: 100%;

        transform: translateZ((@shaomai-size * 2) - 2);

        @media screen and (max-width: @display-width-iphone5) {
            transform: translateZ((@shaomai-small-size * 2) - 2);
        }

        background: @shaomai-color;
        border: 1px solid silver;

        &.face-top   { transform: rotateX(  0deg) translateZ(@shaomai-size * 0.5); }
        &.face-bottom{ transform: rotateX(180deg) translateZ(@shaomai-size * 0.5); }
        &.face-front { transform: rotateX(-90deg) translateZ(@shaomai-size * 0.5); }
        &.face-back  { transform: rotateX( 90deg) translateZ(@shaomai-size * 0.5); }
        &.face-right { transform: rotateY( 90deg) translateZ(@shaomai-size * 0.5); }
        &.face-left  { transform: rotateY(-90deg) translateZ(@shaomai-size * 0.5); }

        @media screen and (max-width: @display-width-iphone5) {
            &.face-top   { transform: rotateX(  0deg) translateZ(@shaomai-small-size * 0.5); }
            &.face-bottom{ transform: rotateX(180deg) translateZ(@shaomai-small-size * 0.5); }
            &.face-front { transform: rotateX(-90deg) translateZ(@shaomai-small-size * 0.5); }
            &.face-back  { transform: rotateX( 90deg) translateZ(@shaomai-small-size * 0.5); }
            &.face-right { transform: rotateY( 90deg) translateZ(@shaomai-small-size * 0.5); }
            &.face-left  { transform: rotateY(-90deg) translateZ(@shaomai-small-size * 0.5); }
        }
    }

    .green {
        display: inline-block;
        position: absolute;

        width : @shaomai-green-size;
        height: @shaomai-green-size;

        top : (@shaomai-size * 0.5) - (@shaomai-green-size * 0.5);
        left: (@shaomai-size * 0.5) - (@shaomai-green-size * 0.5);

        @media screen and (max-width: @display-width-iphone5) {
            top : (@shaomai-small-size * 0.5) - (@shaomai-green-size * 0.5);
            left: (@shaomai-small-size * 0.5) - (@shaomai-green-size * 0.5);
        }

        transform-style: preserve-3d;
        transform: translateZ((@shaomai-green-size * 2) - 2);

        .green-face {
            position: absolute;

            width : @shaomai-green-size;
            height: @shaomai-green-size;

            background-color: @shaomai-green-color;
            border: 1px solid darken(@shaomai-green-color, 90%);

            &.green-face-top    { transform: rotateX(  0deg) translateZ(@shaomai-green-size * 0.5); }
            &.green-face-bottom { transform: rotateX(180deg) translateZ(@shaomai-green-size * 0.5); }
            &.green-face-front  { transform: rotateX(-90deg) translateZ(@shaomai-green-size * 0.5); }
            &.green-face-back   { transform: rotateX( 90deg) translateZ(@shaomai-green-size * 0.5); }
            &.green-face-left   { transform: rotateY( 90deg) translateZ(@shaomai-green-size * 0.5); }
            &.green-face-right  { transform: rotateY(-90deg) translateZ(@shaomai-green-size * 0.5); }
        }
    }
}
