<div class="calc">
    <div class="well">123</div>
    <div>
        <div class="btn btn-default btn-other">Ｃ</div>
        <div class="btn btn-default btn-other">±</div>
        <div class="btn btn-default btn-other">％</div>
        <div class="btn btn-default btn-operator">÷</div>
    </div>
    <div>
        <div class="btn btn-default">７</div>
        <div class="btn btn-default">８</div>
        <div class="btn btn-default">９</div>
        <div class="btn btn-default btn-operator">×</div>
    </div>
    <div>
        <div class="btn btn-default">４</div>
        <div class="btn btn-default">５</div>
        <div class="btn btn-default">６</div>
        <div class="btn btn-default btn-operator">－</div>
    </div>
    <div>
        <div class="btn btn-default">１</div>
        <div class="btn btn-default">２</div>
        <div class="btn btn-default">３</div>
        <div class="btn btn-default btn-operator">＋</div>
    </div>
    <div>
        <div class="btn btn-default btn-x2">０</div>
        <div class="btn btn-default">．</div>
        <div class="btn btn-default btn-operator">＝</div>
    </div>
</div>
