<div class="calc-box" ng-controller="CalcBoxController as CalcBox"
        ng-swipe-left="CalcBox.onSwipeLeft()" ng-swipe-right="CalcBox.onSwipeRight()">

    <!-- フタ -->
    <div class="calc-box-cover">
        <div class="calc-box-cover-front">
            <div ng-include="'views/partials/calc.html'"></div>
            <div class="btn btn-default btn-open" ng-click="CalcBox.toggleOpen()">OPEN</div>
        </div>
        <div class="calc-box-cover-back" ng-click="CalcBox.toggleOpen()">
        </div>
        <!-- シウマイ貼り付け面 -->
        <div id="grid-upper" class="grid hidden">
            <div class="grid-row" ng-repeat="row in [0, 1, 2, 3, 4]">
                <div class="{{ (shaomai.green || shaomai.body) ? 'visible' : 'invisible' }}" ng-include="'views/partials/shaomai.html'" ng-repeat="shaomai in CalcBox.uppers | limitTo: 4 : 4 * row"></div>
            </div>
        </div>
    </div>

    <!-- 底面 -->
    <div class="calc-box-side calc-box-back"></div>
    <div class="calc-box-side calc-box-left"></div>
    <div class="calc-box-side calc-box-front"></div>
    <div class="calc-box-side calc-box-right"></div>
    <div class="calc-box-bottom">
        <!-- シウマイ貼り付け面 -->
        <div id="grid-lower" class="grid hidden">
            <div class="grid-row" ng-repeat="row in [0, 1, 2, 3, 4]">
                <div class="{{ (shaomai.green || shaomai.body) ? 'visible' : 'invisible' }}" ng-include="'views/partials/shaomai.html'" ng-repeat="shaomai in CalcBox.lowers | limitTo: 4 : 4 * row"></div>
            </div>
        </div>
        <div class="btn btn-default btn-close" ng-click="CalcBox.toggleOpen()">CLOSE</div>
    </div>

</div>
