
@display-width-iphone5:   320px;
@display-height-iphone5:  568px;

@display-width-iphone6:   375px;
@display-height-iphone6:  667px;

// iPhoneのステータスバー＆アドレスバー＆メニューバーの高さ合計
@ios-margin: 108px;

html, body {

    width:  100%;
    height: @display-height-iphone6;

    @media screen and (min-device-width: @display-width-iphone5) and (max-device-width: @display-width-iphone5) {
        height: @display-height-iphone5 - @ios-margin;
        .calc-box {
            .btn-open, .btn-close { display: none }
        }
    }
    @media screen and (min-device-width: @display-width-iphone6) and (max-device-width: @display-width-iphone6) {
        height: @display-height-iphone6 - @ios-margin;
        .calc-box {
            .btn-open, .btn-close { display: none }
        }
    }
}

.container-fluid {
    padding: 0px;
    height: 100%;
}

@import "partials/calc-box.less";
@import "partials/calc.less";
@import "partials/shaomai.less";
@import "partials/grid.less";
